<div class="top m-4">
    <h1>Rent for profit, or ride just for fit.</h1>
</div>
<div class="content">
    <div class="card-container m-4">
        <a href="<%= bikes_path %>" class="card btn" id="btn1">
            <span></span>
        </a>
        <a href="<%= new_bike_path %>" class="card btn" id="btn2">
            <span></span>
        </a>
    </div>
</div>
