<div class="top" >
    <h1>Rent for profit, or ride just for fit.</h1>
</div>
    <div class="content">
    <%= link_to "Rent Bike", bikes_path, class: "btn btn-primary" %>
    <%= link_to "Rent Out your Bike", new_bike_path, class: "btn btn-primary" %>
</div>
