<div class="top" >
    <h1>Pages#home</h1>
    <h2>Rent a bike </h2>
</div>
    <div class="content">
    <%= link_to "Check the bikes out", bikes_path, class: "btn btn-primary" %> 
    <%= link_to "Rent your bike", new_bike_path, class: "btn btn-primary" %> 
</div>